<div class="registration-container">
  <% if ( errors ) {%>
    <% errors.forEach(function (error) { %>
      <div class="alert alert-danger">
        <p><%= __(error) %></p>
      </div>
    <% }) %>
  <% } %>
  <div class="registration-box animated fadeInDown">
      <div class="well">
        <h3>Project Gema</h3>
        <p>Please keep in mind that the game is <strong>under development</strong>.</p>
        <p>Last database reset: 12 July</p>
      </div>
      <div class="registration-body">
        <form action="/auth/local/register" class="form-horizontal" method="post">

          <h4>Personal info</h4>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="First Name" name="firstname"/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Surname" name="lastname" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="email" class="form-control" placeholder="E-mail" name="email" required />
            </div>
          </div>

          <h4>Authentication</h4>
          <div class="form-group">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Username" name="username" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input type="password" class="form-control" placeholder="Password" name="password" />
            </div>
          </div>

          <div class="form-group push-up-30">
            <div class="col-md-6">
              <a href="/login" class="btn btn-link btn-block">Already have account?</a>
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger btn-block">Sign Up</button>
            </div>
          </div>
        </form>

      </div>
    <div class="registration-footer">
      <div class="text-center">
        <h5 style="color: white;">Join us on Slack for questions, bugs, suggestions</h5>
        <script async defer src="http://188.166.55.38:3000/slackin.js?large"></script>
        <p>&copy; 2015 Project Gema</p>
      </div>
    </div>
    </div>
  </div>