    <div class="page-container">
      <div style="height: 852px;" class="page-sidebar scroll">
        <ul class="x-navigation">
          <li class="xn-logo">
            <a href="index.html">ATLANT</a>
            <a href="#" class="x-navigation-control"></a>
          </li>
          <li class="xn-title">Navigation</li>
          <li>
            <a href="index.html">
              <span class="fa fa-desktop"></span>
              <span class="xn-text">Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
      <div style="" class="page-content">
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
          <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize">
              <span class="fa fa-dedent"></span>
            </a>
          </li>
        </ul>
        <ul class="breadcrumb push-down-0">
          <li>
            <a href="#">Link</a>
          </li>
          <li class="active">Active</li>
        </ul>
        <div class="content-frame">
          <div class="content-frame-top">
            <div class="page-title">
              <h2><span class="fa fa-arrow-circle-o-left"></span> Frame Title</h2>
            </div>
            <div class="pull-right">
              <button class="btn btn-default content-frame-right-toggle">
                <span class="fa fa-bars"></span>
              </button>
            </div>
          </div>
          <div style="display: block; height: 710px;" class="content-frame-right"></div>
          <div style="height: 770px;" class="content-frame-body content-frame-body-left">
            <%- body -%>
          </div>
        </div>
      </div>
    </div>