.table p {
  line-height: 1;
}

.table .middle {
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.btn-up, .btn-down, .btn-left, .btn-right {
  width: 80px;
  text-align: center;
  display: block;
  line-height: 50px;
}

.btn-up, .btn-down {
  margin: 0 auto;
}

.btn-left {
  float: left;
}

.btn-right {
  float: right;
}

.level {
  width: 100%;
  max-width: 300px;
  height: 300px;
  margin: 0 auto;
}

.area {
  margin: 2px;
  display: inline-block;
}