<div class="login-container">
  <div class="login-box animated fadeInDown readable">
    <div class="well">
      <h3>Project Gema</h3>
      <p>In the year 2025 scientists managed to do the impossible. Implanting a prototype microchip into the brain of a young woman, they managed to harness the power of her neurons to boost the processing capacity of a computer from a distance. The woman was named Gema Kerensky and the frentic race for more and more processing power that started after that, came to be known as "Project Gema".</p>
      <p>For 100 years corporations have become more and more powerful, amassing vast wealth and eventually making countries and governments obsolete. Taking control of legislation and law enforcement, they decided to use "Project Gema" to their own ends. Making the participation of newly born babies mandatory, they managed to created the most advanced network of processors in the world: millions of human brains around the world connected and contributing their brain cells to the computation power of the corporations.</p>
        <p>There was a small group of people who would not stand for it. And in the year 2138 a young rebel scientist named Keneth Holbach managed to find the only way possible to break someone from the network of Project Gema: killing them and transfering all their memories and personality to a newly created form of synthetic beings: the Avatars.</p>
      <a href="/login" class="btn btn-primary btn-lg btn-block">Enter Project Gema</a>
    </div>
  </div>
</div>